html,body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#modal {
    background-image: url(./assets/Map/KingOfTokyo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    top:0;
    left:0;
}

#map {
    width:35%;
    height: 64%;
    position: absolute;
    top:1%;
    left:32.5%;
    background-image: url(./assets/Map/Map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin: auto;
}

#map > :first-child{
    width:40%;
    height: 40%;
    position: absolute;
    margin: 0;
}

#map > :nth-child(2){
    width:40%;
    height: 40%;
    position: absolute;
    margin: 0;
    left:60%;
    top:60%;
}

.monster {
    width:100%;
    height: 32%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom:1%;
}

#leftContainer,#rightContainer, #leftContainerSelection, #rightContainerSelection {
    width:30%;
    height: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
}

#leftContainer, #leftContainerSelection {
    left:0;
}

#rightContainer, #rightContainerSelection {
    right:0;
}

#cardContainer {
    width: 32%;
    height:30%;
    background-color: white;
    position: absolute;
    bottom:1.5%;
    left: 34%;
    display: flex;
    flex-direction: row;
}

.card {
    border: solid black 2px;
    width: 32%;
    height: 93%;
    margin:1%;
    background-size: cover;
}

.tokyo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position:relative;
    border-radius: 50%;
    margin: auto;
}

#tokyoCity {
    top:40%;
}

#tokyoBay {
    top:20%;
}

#leftContainerSelection, #rightContainerSelection {
    width: 26.2%;
    height: 100;
    top: 0;
    z-index: 2;
    background-color: rgb(229, 229, 233);
}

#text {
    height: 100%;
    text-align: center;
    font-size: 2rem;
    color: green;
    text-shadow: 3px 2px black;
}

.victory, .energy, .heart {
    width: 6.5%;
    height: 3.5%;
    position: absolute;
    text-align: center;
    font-size: 100%;
}

.diceContainer {
    display: flex;
    flex-wrap: wrap;
    width: 26%;
    height:10%;
    position: absolute;
}

.diceContainer > * {
    width: 20%;
    height: 30%;
    margin:5%;
    background-size: cover;
}

#cyberkitty_s > #victory {
    top:0.6%;
    left: 32%;
}

#cyberkitty_s > #energy {
    top:11.9%;
    left: 39.5%;
}

#cyberkitty_s > #heart {
    top:28%;
    left:73.5%;
}

#cyberkitty_s > #diceContainer {
    top:16.6%;
    left:56%;
}

#gigazaur_s > #victory {
    top:33.2%;
    left: 32.5%;
}

#gigazaur_s > #energy {
    top:43.8%;
    left: 36%;
}

#gigazaur_s > #heart {
    top:60.3%;
    left:73%;
}

#gigazaur_s > #diceContainer {
    top:49.2%;
    left:56.2%;
}

#spacepenguin_s > #victory {
    top:65.8%;
    left: 31.8%;
}

#spacepenguin_s > #energy {
    top:86.3%;
    left: 71.8%;
}

#spacepenguin_s > #heart {
    top:92.8%;
    left:73.2%;
}

#spacepenguin_s > #diceContainer {
    top:76.5%;
    left:18%;
}

#mekadragon_s > #victory {
    top:0.6%;
    left: 32%;
}

#mekadragon_s > #energy {
    top:11.8%;
    left: 37.5%;
}

#mekadragon_s > #heart {
    top:28%;
    left:72.4%;
}

#mekadragon_s > #diceContainer {
    top:17%;
    left:56%;
}

#alienoid_s > #victory {
    top:33.4%;
    left: 31%;
}

#alienoid_s > #energy {
    top:43.8%;
    left: 37.5%;
}

#alienoid_s > #heart {
    top:60.4%;
    left:73.5%;
}

#alienoid_s > #diceContainer {
    top:49%;
    left:56.2%;
}

#theking_s > #victory {
    top:65.8%;
    left: 33%;
}

#theking_s > #energy {
    top:86%;
    left: 71.8%;
}

#theking_s > #heart {
    top:92.6%;
    left:74%;
}

#theking_s > #diceContainer {
    top:76%;
    left:18%;
}

#choice {
    width:10%;
    height:10%;
    background-color: white;
    z-index: 2;
    position: absolute;
    border: black solid 2px;
    left:45%;
    top:28%;
    text-align: center;
    visibility: hidden;
}

.button {
    visibility: hidden;
}

#textChoice {
    overflow-wrap: break-word;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 90%;
}

#alienoid_s {background-image: url(./assets/M_Stat/Alienoid_Stats.png);}
#cyberkitty_s {background-image: url(./assets/M_Stat/Cyber_kitty_Stats.png);}
#gigazaur_s {background-image: url(./assets/M_Stat/Gigazaur_Stats.png);}
#mekadragon_s {background-image: url(./assets/M_Stat/Meka_Dragon_Stats.png);}
#spacepenguin_s {background-image: url(./assets/M_Stat/Space_Penguin_Stats.png);}
#theking_s {background-image: url(./assets/M_Stat/The_king_Stats.png);}

#alienoid {background-image: url(./assets/M_Fig/Alienoid.png);}
#cyberkitty {background-image: url(./assets/M_Fig/CyberKitty.png);}
#gigazaur {background-image: url(./assets/M_Fig/Gigazaur.png);}
#mekadragon {background-image: url(./assets/M_Fig/MekaDragon.png);}
#spacepenguin {background-image: url(./assets/M_Fig/SpacePenguin.png);}
#theking {background-image: url(./assets/M_Fig/TheKing.png);}

#card1 {background-image: url(./assets/Cards/card.png);}
#card2 {background-image: url(./assets/Cards/card.png);}
#card3 {background-image: url(./assets/Cards/card.png);}
