html,body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#modal {
    background-image: url(./assets/Map/KingOfTokyo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    top:0;
    left:0;
}

#map {
    width:35%;
    height: 64%;
    position: absolute;
    top:1%;
    left:32.5%;
    background-image: url(./assets/Map/Map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin: auto;
}

#map > :first-child{
    width:40%;
    height: 40%;
    position: absolute;
    margin: 0;
}

#map > :nth-child(2){
    width:40%;
    height: 40%;
    position: absolute;
    margin: 0;
    left:60%;
    top:60%;
}

.monster {
    width:100%;
    height: 32%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom:1%;
}

#leftContainer,#rightContainer, #leftContainerSelection, #rightContainerSelection {
    width:30%;
    height: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
}

#leftContainer, #leftContainerSelection {
    left:0;
}

#rightContainer, #rightContainerSelection {
    right:0;
}

#alienoid_s {
    background-image: url(./assets/M_Stat/Alienoid_Stats.png);
}

#cyberkitty_s {
    background-image: url(./assets/M_Stat/Cyber_kitty_Stats.png);
}

#gigazaur_s {
    background-image: url(./assets/M_Stat/Gigazaur_Stats.png);
}

#mekadragon_s {
    background-image: url(./assets/M_Stat/Meka_Dragon_Stats.png);
}

#spacepenquin_s {
    background-image: url(./assets/M_Stat/Space_Penguin_Stats.png);
}

#theking_s {
    background-image: url(./assets/M_Stat/The_king_Stats.png);
}

#cardContainer {
    width: 32%;
    height:30%;
    background-color: white;
    position: absolute;
    bottom:1.5%;
    left: 34%;
    display: flex;
    flex-direction: row;
}

.card {
    border: solid black 2px;
    width: 32%;
    height: 93%;
    margin:1%;
    background-size: cover;
}

#card1 {
    background-image: url(./assets/Cards/card.png);
}

#card2 {
    background-image: url(./assets/Cards/card.png);
}

#card3 {
    background-image: url(./assets/Cards/card.png);
}

.tokyo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position:relative;
    border-radius: 50%;
    margin: auto;
}

#tokyoCity {
    background-image: url(./assets/M_Fig/SpacePenguin.png);
    top:40%;
}

#tokyoBay {
    background-image: url(./assets/M_Fig/Alienoid.png);
    top:20%;
}

#leftContainerSelection, #rightContainerSelection {
    width: 26.2%;
    height: 100;
    top: 0;
    z-index: 2;
    background-color: rgb(229, 229, 233);
}

#alienoid {
    background-image: url(./assets/M_Fig/Alienoid.png);
}

#cyberkitty {
    background-image: url(./assets/M_Fig/CyberKitty.png);
}

#gigazaur {
    background-image: url(./assets/M_Fig/Gigazaur.png);
}

#mekadragon {
    background-image: url(./assets/M_Fig/MekaDragon.png);
}

#spacepenquin {
    background-image: url(./assets/M_Fig/SpacePenguin.png);
}

#theking {
    background-image: url(./assets/M_Fig/TheKing.png);
}

#text {
    height: 100%;
    text-align: center;
    font-size: 2rem;
    color: green;
    text-shadow: 3px 2px black;
}