#cardContainer {
    width: 60%;
    height:96%;
    position: absolute;
    top:1%;
    right: 0%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#bigCard {
    width: 30%;
    height: 68%;
    top:2%;
    right:2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    visibility: visible;
}

#smallCard {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 18%;
    position: absolute;
    bottom: 0%;
    left:14%;
}

.card {
    width: 30%;
    height: 99%;
    margin:auto;
    background-size: cover;
    background-position: center;
    bottom:0%;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

#bigCard {background-image: url(../assets/Cards/card.png);}
#card1 {background-image: url(../assets/Cards/card.png);}
#card2 {background-image: url(../assets/Cards/card.png);}
#card3 {background-image: url(../assets/Cards/card.png);}