#mapContainer {
    width: 70%;
    height:100%;
    position: absolute;
    left:30%;
    top:1%;
}

#map {
    width:99%;
    height: 96%;
    position: absolute;
    top:1%;
    right:1%;

    background-image: url("../assets/Map/Map.jpg");
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: 100% 150%;
}

.tokyo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position:relative;
    border-radius: 50%;
    margin: auto;
}

#tokyoCity {
    top:40%;
}

#tokyoBay {
    top:20%;
}