#choice {
    background-image: url("../assets/Reporter/reporter.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:29.7%;
    height:45%;
    z-index: 2;
    position: absolute;
    border: black solid 2px;
    left:0%;
    bottom:1.8%;
    visibility: visible;
}

#bubble {
    background-image: url("../assets/Reporter/text.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    color: black;
    width: 40%;
    height: 50%;
    top:12%;
    visibility: visible;
}

#nameIcon {
    background-image: url("../assets/NameIcon/cyberkittyName.png");
    background-repeat: no-repeat;
    background-size:60% 40%;
    width:80%;
    height:70%;
    top: 5%;
    position: absolute;
    display: inline-block;
    visibility: visible;
    text-align:center;
    line-height: 16vh;
    font-size: 1.5rem;
    margin: 5% 10% 5% 10%;
}

#icon {
    background-image: url("../assets/Icon/VictoryIcon.png");
    background-repeat: no-repeat;
    background-size:80% 80%;
    background-position: center;
    width: 35%;
    height: 35%;
    position: absolute;
    right:0%;
    top:27%;
}

#textChoice {
    overflow-wrap: break-word;
    color: black;
    width: 80%;
    height: 70%;
    margin: 5% 10% 5% 10%;
    font-size: 90%;
    position: absolute;
}

#buttonContainer {
    width:34%;
    height:22%;
    display: flex;
    flex-direction: row;
    position: absolute;
    left:5%;
    bottom: 16%;
}

.button {
    width: 40%;
    height: 80%;
    background-repeat: no-repeat;
    visibility: hidden;
    transition: all 0.5s;
    margin:1%;
    outline:0;
}

#yes {
    background-image: url(../assets/Reporter/yes.png);
    background-size: 100% 100%;
    border-radius: 50%;
}

#no {
    background-image: url(../assets/Reporter/no.png);
    background-size: 100% 100%;
    border-radius: 50%;
}